n8n-deploy/workflows/mia_monitor_polling.json
{
  "name": "Mia Monitor – Polling 24/7 + Keep-Alive",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 14 }]
        }
      },
      "id": "trigger-keep-alive",
      "name": "⏰ Cada 14 min (Keep-Alive)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "trigger-monitor",
      "name": "⏰ Cada 5 min (Monitor páginas)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "url": "={{ $env.RENDER_APP_URL }}/health",
        "options": { "timeout": 10000 }
      },
      "id": "ping-render-app",
      "name": "💓 Ping Render app.py",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 240],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_RENDER_URL }}/healthz",
        "options": { "timeout": 10000 }
      },
      "id": "ping-n8n",
      "name": "💓 Ping n8n self",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 360],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://es.tradingview.com/markets/",
        "options": {
          "timeout": 15000,
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "fetch-tradingview",
      "name": "🌐 Fetch TradingView",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://www.investing.com/economic-calendar/",
        "options": {
          "timeout": 15000,
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "fetch-investing",
      "name": "🌐 Fetch Investing.com (Calendario)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://finance.yahoo.com/news/",
        "options": {
          "timeout": 15000,
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "fetch-yahoo-finance",
      "name": "🌐 Fetch Yahoo Finance News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Detectar cambios relevantes en las páginas monitoreadas\nconst tvData = $('🌐 Fetch TradingView').first()?.json?.data || '';\nconst invData = $('🌐 Fetch Investing.com (Calendario)').first()?.json?.data || '';\nconst yhData = $('🌐 Fetch Yahoo Finance News').first()?.json?.data || '';\n\n// Keywords que despiertan a Mia\nconst KEYWORDS = [\n  'NASDAQ', 'S&P 500', 'DOW JONES', 'GOLD', 'XAUUSD', 'BTC', 'BITCOIN',\n  'NFP', 'Non-Farm', 'CPI', 'FOMC', 'Federal Reserve', 'Fed',\n  'EURUSD', 'GBPUSD', 'GBPJPY', 'Market crash', 'Flash crash',\n  'Interest rate', 'GDP', 'Inflation', 'Unemployment', 'Volatility'\n];\n\nconst allContent = (tvData + invData + yhData).toUpperCase();\nconst detectedKeywords = KEYWORDS.filter(kw => allContent.includes(kw.toUpperCase()));\n\nconst alert = {\n  timestamp: new Date().toISOString(),\n  source: 'n8n-monitor',\n  detected_keywords: detectedKeywords,\n  keyword_count: detectedKeywords.length,\n  should_alert_mia: detectedKeywords.length >= 3,\n  summary: detectedKeywords.length >= 3\n    ? `🚨 Alerta: ${detectedKeywords.length} palabras clave detectadas: ${detectedKeywords.slice(0, 5).join(', ')}`\n    : `✅ Sin cambios críticos. Keywords: ${detectedKeywords.length}`\n};\n\nreturn [{ json: alert }];"
      },
      "id": "analyze-pages",
      "name": "🧠 Analizar cambios en páginas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.should_alert_mia }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-alert",
      "name": "🔀 ¿Debe alertar a Mia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RENDER_APP_URL }}/webhook_market_alert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.BRIDGE_ACCESS_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "source", "value": "n8n-monitor" },
            { "name": "alert_type", "value": "market_keyword_detected" },
            { "name": "keywords", "value": "={{ $json.detected_keywords.join(', ') }}" },
            { "name": "summary", "value": "={{ $json.summary }}" },
            { "name": "timestamp", "value": "={{ $json.timestamp }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "alert-mia",
      "name": "🚨 Despertar a Mia (Webhook)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Log cuando NO hay alerta\nconst data = $input.first().json;\nconsole.log(`[${data.timestamp}] Sin alerta. Keywords detectadas: ${data.keyword_count}`);\nreturn [{ json: { status: 'no_alert', ...data } }];"
      },
      "id": "log-no-alert",
      "name": "📋 Log sin alerta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 700]
    }
  ],
  "connections": {
    "⏰ Cada 14 min (Keep-Alive)": {
      "main": [[
        { "node": "💓 Ping Render app.py", "type": "main", "index": 0 },
        { "node": "💓 Ping n8n self", "type": "main", "index": 0 }
      ]]
    },
    "⏰ Cada 5 min (Monitor páginas)": {
      "main": [[
        { "node": "🌐 Fetch TradingView", "type": "main", "index": 0 },
        { "node": "🌐 Fetch Investing.com (Calendario)", "type": "main", "index": 0 },
        { "node": "🌐 Fetch Yahoo Finance News", "type": "main", "index": 0 }
      ]]
    },
    "🌐 Fetch Yahoo Finance News": {
      "main": [[{ "node": "🧠 Analizar cambios en páginas", "type": "main", "index": 0 }]]
    },
    "🧠 Analizar cambios en páginas": {
      "main": [[{ "node": "🔀 ¿Debe alertar a Mia?", "type": "main", "index": 0 }]]
    },
    "🔀 ¿Debe alertar a Mia?": {
      "main": [
        [{ "node": "🚨 Despertar a Mia (Webhook)", "type": "main", "index": 0 }],
        [{ "node": "📋 Log sin alerta", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": ["mia", "trading", "monitor", "keep-alive"],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "mia-trading-bot"
  }
}
