n8n-deploy/workflows/mia_monitor_polling.json
{
  "name": "Mia Monitor - Polling Fundamental & LLM",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 14
            }
          ]
        }
      },
      "id": "trigger-keep-alive",
      "name": "⏰ Cada 14 min (Keep-Alive)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "trigger-monitor",
      "name": "⏰ Cada 5 min (Monitor Fundamental)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        500
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.RENDER_APP_URL }}/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "ping-render-app",
      "name": "💓 Ping Render app.py",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        240
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_RENDER_URL }}/healthz",
        "options": {
          "timeout": 10000
        }
      },
      "id": "ping-n8n",
      "name": "💓 Ping n8n self",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        360
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $env.RENDER_APP_URL }}/get_matrix_activos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.BRIDGE_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-activos",
      "name": "📥 Obtener Activos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        500
      ]
    },
    {
      "parameters": {
        "url": "https://www.investing.com/economic-calendar/",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-investing",
      "name": "🌐 Fetch Investing.com",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://finance.yahoo.com/news/",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-yahoo",
      "name": "🌐 Fetch Yahoo News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        600
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const activos = $('📥 Obtener Activos').first()?.json?.activos || [];\nconst invData = $('🌐 Fetch Investing.com').first()?.json?.data || '';\nconst yhData = $('🌐 Fetch Yahoo News').first()?.json?.data || '';\nconst allContent = (invData + '\\n' + yhData);\n\nconst results = [];\nfor (const activo of activos) {\n  results.push({\n    json: {\n      activo: activo,\n      texto_noticias: allContent.substring(0, 5000)\n    }\n  });\n}\nreturn results;"
      },
      "id": "prepare-payloads",
      "name": "🧠 Preparar Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RENDER_APP_URL }}/webhook_fundamental_update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.BRIDGE_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "activo",
              "value": "={{ $json.activo }}"
            },
            {
              "name": "texto_noticias",
              "value": "={{ $json.texto_noticias }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fundamental-webhook",
      "name": "🚨 Enviar a Mia (Fundamental)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        500
      ]
    }
  ],
  "connections": {
    "⏰ Cada 14 min (Keep-Alive)": {
      "main": [
        [
          {
            "node": "💓 Ping Render app.py",
            "type": "main",
            "index": 0
          },
          {
            "node": "💓 Ping n8n self",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cada 5 min (Monitor Fundamental)": {
      "main": [
        [
          {
            "node": "📥 Obtener Activos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Obtener Activos": {
      "main": [
        [
          {
            "node": "🌐 Fetch Investing.com",
            "type": "main",
            "index": 0
          },
          {
            "node": "🌐 Fetch Yahoo News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Fetch Yahoo News": {
      "main": [
        [
          {
            "node": "🧠 Preparar Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Preparar Payloads": {
      "main": [
        [
          {
            "node": "🚨 Enviar a Mia (Fundamental)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    "mia",
    "trading",
    "fundamental",
    "llm"
  ]
}